.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--azul-degrade);
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 0.5em;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.container__texto{
    display: none;
}


@media screen and (min-width:1024px) {
    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        color: var(--branco);
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

   
}

@media screen and (min-width:1728px){
    .cabecalho{
        padding: 0 2em;
    }

}